body {
    color: #fff;
    font-family: "arial";
}

#main-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    overflow: hidden;
}

.page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.page.active {
    display: flex;
    top: 0;
}

#bg1, #bg2, #bg3, #bg4 {
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

#bg1 {
    background-image: url("img/bg/chris-pickett.png");
    animation-name: moveLeftRight;
}

#bg2 {
    background-image: url("img/bg/alex-dukhanov.png");
    animation-name: zoomInOut;
}

#bg3 {
    background-image: url("img/bg/ricardo-gomez.png");
    animation-name: moveUpDown;
}

#bg4 {
    background-image: url("img/bg/cristina-gottardi.png");
    animation-name: zoomInOut;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#main-head{
    display: block;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 60%;
}

h1 {
    font-size: 10vmin;
}

#parag-1 {
    margin: 0 10%;
    background-color: rgba(255,0,0,0.8);
    font-size: 6vmin;
}

#parag-2 {
    font-size: 3vmin;
}

#view-img {
    transition: background-image 0.3s;
}

.img-lable {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    font-size: 3vmin;
}

.img-details {
    padding: 2vmin;
}

.img-details-title {
    display: block;
    font-weight: bold;
    color: #08f;
    transition: color 0.5s;
}

.scroll-up, .scroll-down {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 15%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1em;
}

.scroll-up {
    top: 5%;
}

.scroll-down {
    bottom: 5%;
}

.scroll-down::after, .scroll-up::after {
    position: absolute;
    content: " ";
    background-color: transparent;
    width: 4em;
    height: 4em;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%) rotateZ(225deg);
    animation: floatUpDown 1.5s;
    animation-iteration-count: infinite;
    font-size: 1vmin;
}

.scroll-up::after {
    border-bottom: 1em solid #fff;
    border-right: 1em solid #fff;
}

.scroll-down::after {
    border-top: 1em solid #fff;
    border-left: 1em solid #fff;
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 4vh;
    line-height: 7vh;
}

#skills {
    display: block;
    width: 100%;
    color: #08f;
}

.text-center {
    text-align: center;
}

.text-shadow {
    text-shadow: 0.2em 0.2em 0.2em #000;
}

.col, .row, .auto {
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.padding {
    padding: 2vmin;
}

.margin {
    margin: 2vmin;
}

.space-1-4, .space-1-3, .space-1-2, .space-2-3,
.space-3-4, .space-1-1, .space-1-6, .space-5-6 {
    position: relative;
}

.space-1-6 { flex: 0 16.6666666%; }
.space-1-4 { flex: 0 25%; }
.space-1-3 { flex: 0 33.3333333%; }
.space-1-2 { flex: 0 50%; }
.space-2-3 { flex: 0 66.6666666%; }
.space-3-4 { flex: 0 75%; }
.space-5-6 { flex: 0 83.3333333% }
.space-1-1 { flex: 0 100%; }

.bg-black {background-color: rgba(0,0,0,0.7);}
.bg-white {background-color: rgba(255,255,255,0.7);}

input, textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "arial";
    background-color: #fff;
    opacity: 0.7;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
}

input:focus, textarea:focus {
    opacity: 1;
}

textarea {
    resize: none;
}

#form-title {
    display: block;
    font-weight: bold;
    color: #6a0;
}

.form-btn {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #080;
    font-weight: bold;
    text-shadow: 0.2em 0.2em 0.2em #000;
    border-radius: 0.5em;
    border: none;
}

@keyframes moveLeftRight {
    0% {transform: scale(1.3, 1.3) translateX(10%) translateY(-10%);}
    50% {transform: scale(1.3, 1.3) translateX(-10%) translateY(-10%);}
    100% {transform: scale(1.3, 1.3) translateX(10%) translateY(-10%);}
}

@keyframes moveUpDown {
    0% {transform: scale(1.3, 1.3) translateY(10%);}
    50% {transform: scale(1.3, 1.3) translateY(-10%);}
    100% {transform: scale(1.3, 1.3) translateY(10%);}
}

@keyframes zoomInOut {
    0% {transform: scale(1.3, 1.3); }
    50% {transform: scale(1, 1); }
    100% {transform: scale(1.3, 1.3); }
}

@keyframes move-up { 
    from {top: 0;}
    to {top: -100%;}
}

@keyframes move-down {
    from {top: 0;}
    to {top: 100%;}
}

@keyframes bring-up {
    from {top: 100%;}
    to {top: 0;}
}

@keyframes bring-down {
    from {top: -100%;}
    to {top: 0;}
}

@keyframes floatUpDown {
    0% {transform: translate(-50%,-60%) rotateZ(225deg);}
    50% {transform: translate(-50%,-90%) rotateZ(225deg);}
    100% {transform: translate(-50%,-60%) rotateZ(225deg);}
}

@media (orientation:portrait) {
    .img-details {
        font-size: 2vh;
    }

    #form-title, .form-btn {
        font-size: 3vh;
    }

    #form-message {
        font-size: 2vh;
    }

    input, textarea {
        font-size: 2.8vh;
    }

    #person-skills {
        font-size: 3vh;
    }

    #skills {
        font-size: 4vh;
    }
}

@media (orientation:landscape) {
    .auto.col {
        flex-direction: row;
    }

    .auto.row {
        flex-direction: column;
    }

    .img-details {
        font-size: 3vh;
    }
    
    #form-title, .form-btn {
        font-size: 5vh;
    }

    #form-message {
        font-size: 3.5vh;
    }

    input, textarea {
        font-size: 4vh;
    }

    #person-skills {
        font-size: 4vh;
    }

    #skills {
        font-size: 6vh;
    }
}